<footer>
		<p class="copyright">Copyright &copy; 2018 <a href="http://marcosgomez.tech/" target="_blank">Marcos Gómez Bracamonte</a>.
			<span class="second-line">All Rights Reserved.</span>
		</p>
</footer>
